{% extends 'base.html' %}

{% block nav %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <!-- count for : {{ forloop.counter0 }} - begin 0, {{ forloop.counter }} - begin 1 -->

            <!-- ------ -->
            <li>
                {% for data in category %}
                    {% if data.parent_id is None %}
                        <a href="home?parent={{data.id}}"><i class="fa fa-dashboard fa-fw"></i> {{data.name}} <span
                                class="fa arrow"></span></a>
                            {% for i in category %}
                                <!-- {{i.parent_id}}---{{data.id}} -->
                                {% if i.parent_id == data.id %}
                                    <li style="margin-left:20px; font-size: 100%">
                                        <a style="text-decoration: none" href="home?parent={{data.id}}&&id={{ i.id }}"> {{i.name}} </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                    {% endif %}
                {% endfor %}
            </li>
            





        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
{% endblock %}

{% block content %}
{% if status == True %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{guideline.title}}</h1>
    </div>
    <div class="col-lg-12">
        <h3>API</h3>
        <h4 class="page-header" style="color: coral">{{guideline.api_path}}</h4>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class='table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                    <td>
                        <h3>
                            Argument
                        </h3>

                    </td>
                </tr>
            </thead>
            <tbody>
                {% for ar in argument %}
                <tr style="text-align: left">
                    <td>
                        {{ar.key}}<br>
                        <span id='sub{{forloop.counter0}}' style="color:silver; font-size: 150%">

                            {% if ar.subtext is not None %}
                                {{ar.subtext}}
                            {% endif %}
                        </span>
                        <!-- <span style="color:silver; font-size: 150%">{{ar.subtext}}</span> -->
                    </td>
                    <!-- key -->
                    <td>
                        {{ar.value}}
                    </td>
                    <!-- value -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- argument -->
    <div class='row' name='guide'>
        <pre>
            <code>{{guideline.code}}</code>
        </pre>
    </div>
    <!-- code ex -->
    <!-- /.col-lg-12 -->
</div>
<!-- true data -->
{% else %}
<div class="row">
    <center>
        <h1>None</h1>
    </center>
    <!-- /.col-lg-12 -->
</div>
{% endif %}
{% endblock%}