<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href=" {%static 'auction/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'auction/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'auction/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'auction/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'auction/highlight/highlight.pack.js' %}"></script>
    <link rel="stylesheet" href="{% static 'auction/highlight/styles/dracula.css' %}">
    <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home">Home</a>
                <!-- <a class="navbar-brand" href="guidelineDetail">GuideLine Detail</a> -->

                {% if 'username' in request.session %}

                <a href="logout">
                    <button>
                        Log out
                    </button>
                </a>
                {% else %}
                    <a href="login">
                        <button class="button">
                            Login
                        </button>
                    </a>
                {% endif %}
                    <!-- form out -->

                
                <!-- check permission -->
                </div>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!-- count for : {{ forloop.counter0 }} - begin 0, {{ forloop.counter }} - begin 1 -->
                        {% for data in category %}
                        <li>
                            <!-- href check link get not name -->
                            <a href="home?id={{ data.id }}" id='category{{ data.id }}' onclick="checkid({{ data.id }})"
                                name='id'><i class="fa fa-dashboard fa-fw"></i> {{data.name}}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                {% if status == True %}
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{guideline.title}}</h1>
                    </div>
                    <div class="col-lg-12">
                        <h4 class="page-header" style="color: coral">{{guideline.api_path}}</h4>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class='table-responsive'>
                        <table class='table'>
                            <thead>
                                <tr>
                                    <td>
                                        <h3>
                                            Argument 
                                        </h3>
                                        
                                    </td>
                                </tr>
                            </thead>
                            <tbody >
                                {% for ar in argument %}
                                <tr style="text-align: left">
                                    <td>
                                        {{ar.key}}
                                    </td>
                                    <!-- key -->
                                    <td >
                                        {{ar.value}}
                                    </td>
                                    <!-- value -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- argument -->
                    <div class='row'>
                        <pre>
                            <code>{{guideline.code}}</code>
                        </pre>
                    </div>
                    <!-- code ex -->
                    <!-- /.col-lg-12 -->
                </div>
                <!-- true data -->
                {% else %}
                <div class="row">
                    <center>
                        <h1>None</h1>
                    </center>
                    <!-- /.col-lg-12 -->
                </div>
                {% endif %}
                <!-- if false return none -->
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->



        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'auction/vendor/jquery/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'auction/dd.js' %}"></script> -->
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'auction/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'auction/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'auction/dist/js/sb-admin-2.js' %}"></script>

</body>

</html>