{% load staticfiles %}
<html>
    <head>
        <script src="{% static 'auction/dd.js' %}" ></script>
    </head>
    <body>
        <img src="{% static 'auction/original.jpg' %}" >
        <button onclick="test()">
            click
        </button>
    </body>
</html>