{% extends 'base.html' %}

{% block nav %}
<div class="navbar-default sidebar" role="navigation" >
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                        <a class="link" href="guideline_create_form" >
                                    New Guideline
                            </a>
                </li>
                <li>
                        <a class="link" href="category_create" >
                                    New Category
                            </a>
                </li>
                <li>
                        <a class="link" href="argument_create_form" >
                                    New Argument
                            </a>
                </li>
                
                    
                    
            </ul>
        </div> 
    </div> 
{% endblock %}

{% block content %}
<div class="row">
        <center>
                <!-- <a href="guidelineDetail" >
                    <button style="margin-right: 250px">
                        Back
                    </button>
                </a> -->
                <form name='form' action="{% url 'argument_create' %}" method="POST">
                    {% csrf_token %}
                    <Table cellpadding='10' class='table' style="width:50%">
                        <tr>
                            <td>
                                Key:
                            </td>
                            
                            <td>
                                <input class="form-control" style="width:300px"  name="key" type="text">
                                <span style="color:red">{{form.key.errors.as_text|cut:"*" }}</span>
                            </td>
                        </tr>
                        <!-- key -->
                        <tr>
                            <td>
                                Value:
                            </td>
                            <td>
                                <input class="form-control" style="width:300px" name="value" type="text">
                                <span style="color:red">{{form.value.errors.as_text|cut:"*"}}</span>
                            </td>
                        </tr>
                        <!-- value -->
                        
                        <tr>
                            <td>
                                    Guideline Detail:
                            </td>
                            <td>
                                <select class="form-control" style="width:300px" name='guideline_detail'>
                                    {% for guide in guideline %}
                                    <option value="{{guide.id}}">
                                        {{guide.title}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <button class="btn btn-primary"  type="submit">
                                    Create
                                </button>
                            </td>
                        </tr>
                        <!-- bottom -->
                    </Table>
                </form>
                {% if status == True %}
                    Create Success!
                {% endif %}
            </center>
</div>
{% endblock %}


