{% extends 'base.html' %}

{% block nav %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a class="link" href="guideline_create_form">
                    New Guideline
                </a>
            </li>
            <li>
                <a class="link" href="category_create">
                    New Category
                </a>
            </li>
            <li>
                <a class="link" href="argument_create_form">
                    New Argument
                </a>
            </li>



        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <center>
        <!-- <a href="guidelineDetail">
                    <button style="margin-right: 250px">
                        Back
                    </button>
                </a> -->
        <div style="width:'500px'">
            <form name='form' action='{% url 'category_createe' %}' method="POST">
                {% csrf_token %}
                <center>
                    <h2>Category</h2>
                </center>
                <Table class='table' style="width:50%">
                    <tr>
                        <td>
                            name:
                        </td>
                        <td>
                            <input class="form-control" style="width:300px" name="name" type="text">

                            <span style="color: red">
                                {{form.name.errors.as_text|cut:"*"}}
                            </span>
                        </td>


                    </tr>
                    <tr>
                        <td>
                            parent_id:
                        </td>
                        <td>
                            <!-- <input class="form-control" style="width:300px" name="parent_id" type="text"> -->
                            <select style="width:300px" class="form-control" name="parent_id">
                                {% for cate in category_data %}
                                <option value="{{cate.id}}">{{cate.name}}</option>
                                {% endfor %}
                            </select>
                            <span style="color: red">
                                {{form.parent_id.errors.as_text|cut:"*"}}
                            </span>
                        </td>


                    </tr>
                    <tr align='center'>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary">
                                Create
                            </button>
                        </td>
                    </tr>
                </Table>
            </form>
        </div>
        {% if status == True %}
        Create Success!
        {% endif %}
    </center>
</div>
{% endblock %}