<html>

<head>
    <!-- <style>
        ul .errorlist li{
            color: red
        }
    </style> -->
</head>

<body>
    <center>
        <a href="guidelineDetail">
            <button style="margin-right: 250px">
                Back
            </button>
        </a>
        <form name='form' action='{% url 'category_create' %}' method="POST">
            {% csrf_token %}
            <Table>
                <tr>
                    <td>
                        name:
                    </td>
                    <td>
                        <input name="name" type="text">
                        
                        <span style="color: red">
                            {{form.name.errors.as_text|cut:"*"}}
                        </span>                    
                    </td>


                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">
                            Create
                        </button>
                    </td>
                </tr>
            </Table>
        </form>
        {% if status == True %}
        Create Success!
        {% endif %}
    </center>
</body>

</html>



<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href=" {%static 'auction/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'auction/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'auction/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'auction/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'auction/highlight/highlight.pack.js' %}"></script>
    <link rel="stylesheet" href="{% static 'auction/highlight/styles/dracula.css' %}">
    <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/auction/home">Home</a>
                <a class="navbar-brand" href="/auction/guidelineDetail">GuideLine Detail</a>
            </div>
            <!-- /.navbar-header -->
            

            
            <!-- /.navbar-static-side -->
            <div class="navbar-default sidebar" role="navigation" >
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <!-- count for : {{ forloop.counter0 }} - begin 0, {{ forloop.counter }} - begin 1 -->
                            <li>
                                    <a class="link" href="guideline_create_form" >
                                                New Guideline
                                        </a>
                            </li>
                            <li>
                                    <a class="link" href="category_create" >
                                                New Category
                                        </a>
                            </li>
                            <li>
                                    <a class="link" href="argument_create_form" >
                                                New Argument
                                        </a>
                            </li>
                            
                                
                                
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                
                <div class="row">
                        <center>
                                <!-- <a href="guidelineDetail">
                                    <button style="margin-right: 250px">
                                        Back
                                    </button>
                                </a> -->
                                <div style="width:'500px'" >
                                        <form name='form' action='{% url 'category_createe' %}' method="POST">
                                                {% csrf_token %}
                                                <center>
                                                    <h2>Category</h2>
                                                </center>
                                                <Table class='table' style="width:50%" >
                                                    <tr>
                                                        <td>
                                                            name:
                                                        </td>
                                                        <td>
                                                            <input class="form-control" style="width:300px" name="name" type="text"  >
                                                            
                                                            <span style="color: red">
                                                                {{form.name.errors.as_text|cut:"*"}}
                                                            </span>                    
                                                        </td>
                                    
                                    
                                                    </tr>
                                                    <tr align='center'>
                                                        <td colspan="2" >
                                                            <button type="submit" class="btn btn-primary">
                                                                Create
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </Table>
                                            </form>
                                </div>
                                {% if status == True %}
                                Create Success!
                                {% endif %}
                            </center>
                </div>
                
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->



        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'auction/vendor/jquery/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'auction/dd.js' %}"></script> -->
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'auction/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'auction/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'auction/dist/js/sb-admin-2.js' %}"></script>

</body>

</html>