
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{formset.management_form}}
        {{ form.as_p }}
        <!-- {{ formset.as_table }} -->
        {% for f in formset %}
        <table>
            <tr class="formset_row">
                <td>{{f.key.label}}</td>
                <td>{{f.key}}</td>
                <td>{{f.value.label}}</td>
                <td>{{f.value}}</td>
                <td>{{f.DELETE}}</td>
                <!-- <td>{{f.ORDER}}</td> -->
            </tr>
        </table>
        <!-- {{formset.ORDER}} -->
        {%endfor%}
        <!-- {{formset.as_table}} -->
        <button type="submit">click</button>
    </form>
</body>
<script src="{% static 'auction/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'auction/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add child',
        deleteText: 'remove',
        // prefix: 'child_set'
    });
</script>
</html>