<html>

<head>
    <style>
        table, tr, td {
                border: 1px solid black;
            }
        .link {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <center>
        {% if delStatus == True%}
        <h3>Delete Success!</h3>
        {% endif %}
        {% if editStatus == True%}
        <h3>Edit Success!</h3>
        {% endif %}
        <div style="margin-bottom: 20px">
            <a class="link" href="guideline_create_form" >
                <button type="submit">
                    New Guideline
                </button>
            </a>
            <a class="link" href="category_create" >
                <button type="submit">
                    New Category
                </button>
            </a>
            <a class="link" href="argument_create_form" >
                <button type="submit">
                    New Argument
                </button>
            </a>
        </div>

        <table cellpadding='10' width='1000'>
            <thead>
                <th>Title</th>
                <th>api_path</th>
                <th>code</th>
            </thead>
            {% for guide in guidelineDetail %}
            <tr>
                <td>
                    {{guide.title}}
                </td>
                <td>
                    {{guide.api_path}}
                </td>
                <td>
                    <textarea rows="10" cols="80">
                                    {{guide.code}}
                                </textarea>
                </td>
                <td>
                    <a href='guidelineDetail_delete/{{guide.id}}'>
                        <button type="submit">
                            Delete
                        </button>
                    </a> <br>
                    <a href='guideline_edit_form/{{guide.id}}'>
                        <button type="submit">
                            Edit
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </center>

</body>

</html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href=" {%static 'auction/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'auction/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'auction/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'auction/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'auction/highlight/highlight.pack.js' %}"></script>
    <link rel="stylesheet" href="{% static 'auction/highlight/styles/dracula.css' %}">
    <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <!-- {% if account.roles.id == 1 %}
                <a class="navbar-brand" href="/auction/home">Home</a>
                <a class="navbar-brand" href="/auction/guidelineDetail">GuideLine Detail</a>
                {% elif account.roles.id == 2 %}
                <a class="navbar-brand" href="/auction/home">Home</a>
                {% else %}
                <a class="navbar-brand" href="/auction/home">Home</a>
                {% endif %} -->

                    <a class="navbar-brand" href="/auction/home">Home</a>
                    <a class="navbar-brand" href="/auction/guidelineDetail">GuideLine Detail</a>
                    {%if user.is_authenticated%}
                        hello {{user.username}}
                    
                    <div style="float: left" >
                        <form method="POST" action="{% url 'logoutnew' %}">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">
                                logout now
                            </button>
                        </form>

                    </div>
                    {%endif%}
                    <!-- {% if 'username' in request.session %}
                    <a href="logout">
                        <button class="btn btn-primary">
                            Log out
                        </button>
                    </a>
                    {% else %}
                    <a href="login" class="navbar-brand">
                        <button class="btn btn-primary">
                            Login
                        </button>
                        
                    </a>
                    {% endif %} -->


                    

                </div>



            </div>
            <!-- /.navbar-header -->



            <!-- /.navbar-static-side -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!-- count for : {{ forloop.counter0 }} - begin 0, {{ forloop.counter }} - begin 1 -->
                        <li>
                            <a class="link" href="guideline_create_form">
                                New Guideline
                            </a>
                        </li>
                        <li>
                            <a class="link" href="category_create">
                                New Category
                            </a>
                        </li>
                        <li>
                            <a class="link" href="argument_create_form">
                                New Argument
                            </a>
                        </li>



                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="row">
                    <center>
                        {% if delStatus == True%}
                        <h3>Delete Success!</h3>
                        {% endif %}
                        {% if editStatus == True%}
                        <h3>Edit Success!</h3>
                        {% endif %}
                        <!-- <div style="margin-bottom: 20px">
                                    <a class="link" href="guideline_create_form" >
                                        <button type="submit">
                                            New Guideline
                                        </button>
                                    </a>
                                    <a class="link" href="category_create" >
                                        <button type="submit">
                                            New Category
                                        </button>
                                    </a>
                                    <a class="link" href="argument_create_form" >
                                        <button type="submit">
                                            New Argument
                                        </button>
                                    </a>
                                </div> -->

                        <table class='table table-striped table-bordered table-hover' cellpadding='10' width='1000'>
                            <thead>
                                <th>Title</th>
                                <th>api_path</th>
                                <th style="text-align: center">code</th>
                                <th></th>
                            </thead>
                            {% for guide in guidelineDetail %}
                            <tr>
                                <td>
                                    {{guide.title}}
                                </td>
                                <td>
                                    {{guide.api_path}}
                                </td>
                                <td>
                                    <textarea rows="10" cols="80">
                                                            {{guide.code}}
                                                        </textarea>
                                </td>
                                <td>
                                    <a href="/auction/guidelineDetail_delete/{{guide.id}}">
                                        <button class="btn btn-danger" type="submit">
                                            Delete
                                        </button>
                                    </a> <br>
                                    <a href='/auction/guideline_edit_form/{{guide.id}}'>
                                        <button class="btn btn-success" type="submit">
                                            Edit
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}

                        </table>
                    </center>
                </div>

                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->



        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'auction/vendor/jquery/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'auction/dd.js' %}"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'auction/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'auction/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'auction/dist/js/sb-admin-2.js' %}"></script>

</body>

</html>