{% extends 'base.html' %}

{% block nav %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a class="link" href="guideline_create_form">
                    New Guideline
                </a>
            </li>
            <li>
                <a class="link" href="category_create">
                    New Category
                </a>
            </li>
            <li>
                <a class="link" href="argument_create_form">
                    New Argument
                </a>
            </li>



        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <center>
        <!-- <a href="guidelineDetail" >
                        <button style="margin-right: 250px">
                            Back
                        </button>
                    </a> -->
        <!-- {% url 'guideline_create' %} -->
        <form name='form' method="POST" id='allInOneForm'>
            {% csrf_token %}

            <Table class="table" cellpadding='10' width='800'>
                <tr>
                    <td>
                        Title:
                    </td>

                    <td>
                        <input id='title' class="form-control" name="guide.title" style="width:500px" type="text">
                        <!-- {{form.title.errors.as_text|cut:"*"}} -->
                        <span id='error_title' style="color:red; font-size: 100%"></span>
                    </td>
                </tr>
                <!-- title -->
                <tr>
                    <td>
                        Api Path:
                    </td>
                    <td>
                        <input id='api_path' class="form-control" name="guide.api_path" style="width:500px" type="text">
                        <span id='error_api_path' style="color:red; font-size: 100%"></span>
                    </td>
                </tr>
                <!-- api_path -->
                <tr>
                    <td>
                        Code:
                    </td>

                    <td>
                        <textarea id='code' class="form-control" name='guide.code' rows="10" cols="80"></textarea>
                        <span id='error_code' style="color:red; font-size: 100%"></span>
                    </td>

                </tr>
                <!-- Code -->
                <tr>
                    <td>
                        Category:
                    </td>
                    <td>
                        <select id='category_id' class="form-control" name='guide.category_id' style="width:300px">
                            {% for category in category %}
                            <option value="{{category.id}}">
                                {{category.name}}
                            </option>
                            {% endfor %}
                        </select><span style="font-size:150%; color:red" id='error_category_id'></span>
                        <!-- {{form.category_id.errors.as_text|cut:"*"}} -->
                    </td>
                </tr>
                <!-- category -->

                <!-- bottom -->
            </Table>
            <!-- guideline -->
            <table id='argument_table' class="table">
                <tr>
                    <!-- <td> -->
                    <span style="float:left; cursor: pointer;" class="fa fa-plus" onclick="addargument()"></span> <br>
                    
                    <!-- </td> -->
                    <!-- <a href="" style="text-decoration: none;"> -->

                    <!-- </a> -->

                </tr>
                <tr id='tr0'>
                    <td>
                            <span id="clear_row" style="float:left; cursor: pointer;" class="fa fa-minus" ></span>
                    </td>
                    <td>
                        Key:
                    </td>

                    <td>
                        <input id='key0' class="form-control" style="width:300px" name="argument.key" type="text" >
                        <span id='error_key0' style="color:red" ></span><br>
                        <span style="color: sandybrown" >JP Sub:</span>
                        <input id='subtext0' class="form-control" style="width:150px" name="argument.subtext" type="text" >
                    </td>
                    <td>
                        Value:
                    </td>
                    <td>
                        <input id='value0' class="form-control" style="width:300px" name="argument.value" type="text">
                        <!-- {{form.value.errors.as_text|cut:"*"}} -->
                        <span id='error_value0' style="color:red" ></span>
                    </td>
                </tr>
                <!-- key -->

            </table>
            <!-- argument -->
            <div>
                <button type="submit"  class='btn btn-primary'>
                    Create
                </button>
            </div>
        </form>
        {% if status == True %}
        Create Success!
        {% endif %}
    </center>
</div>
{% endblock %}