{% extends 'base.html' %}

{% block nav %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a class="link" href="guideline_create_form">
                    New Guideline
                </a>
            </li>
            <li>
                <a class="link" href="category_create">
                    New Category
                </a>
            </li>
            <li>
                <a class="link" href="argument_create_form">
                    New Argument
                </a>
            </li>



        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
        <center>

                
                <form name='form' action="{% url 'guideline_edit' %}" method="POST">
                    {% csrf_token %}
                    <Table cellpadding='10' width='700' class="table">
                        <tr hidden>
                            <td>
                                
                                <input style="width:500px" class="form-control" type="text" name="id" value="{{guideline.id}}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Title:
                            </td>
                            
                            <td>
                                <input style="width:500px" class="form-control" name="title" type="text" value="{{guideline.title}}"> 
                            </td>
                        </tr>
                        <!-- title -->
                        <tr>
                            <td>
                                Api Path:
                            </td>
                            <td>
                                <input style="width:500px" class="form-control" name="api_path" type="text" value="{{guideline.api_path}}">
                            </td>
                        </tr>
                        <!-- api_path -->
                        <tr>
                            <td>
                                Code:
                            </td>
                            
                            <td>
                                <textarea style="width:500px" class="form-control" name='code' rows='10' cols="80" >{{guideline.code}}</textarea>
                            </td>
                            
                        </tr>
                        <!-- Code -->
                        <tr>
                            <td>
                                Category:
                            </td>
                            <td>
                                <select style="width:500px" class="form-control" name='category_id'>
                                        
                                    {% for category in category %}
                                    
                                    <option value="{{category.id}}" {% if category.id == guideline.category.id %} selected {% endif %}>
                                        {{category.name}}
                                    </option>
                                    {% endfor %}
                                </select>
                                {{form.category_id.errors.as_text|cut:"*"}}
                            </td>
                        </tr>
                        <!-- category -->
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <button type="submit" class='btn btn-primary'>
                                    Edit
                                </button>
                            </td>
                        </tr>
                        <!-- bottom -->
                    </Table>
                </form>
                {% if status == True %}
                    Edit Success!
                {% endif %}
            </center>
</div>
{% endblock %}



