{% extends 'base.html' %}

{% block nav %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a class="link" href="/auction/guideline_create_form">
                    New Guideline
                </a>
            </li>
            <li>
                <a class="link" href="/auction/category_create">
                    New Category
                </a>
            </li>
            <li>
                <a class="link" href="/auction/argument_create_form">
                    New Argument
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
        <center>
            {% if delStatus == True%}
            <h3>Delete Success!</h3>
            {% endif %}
            {% if editStatus == True%}
            <h3>Edit Success!</h3>
            {% endif %}

            <table class='table table-striped table-bordered table-hover' cellpadding='10' width='1000'>
                <thead>
                    <th>Title</th>
                    <th>api_path</th>
                    <th style="text-align: center">code</th>
                    <th></th>
                </thead>
                {% for guide in guidelineDetail %}
                <tr>
                    <td>
                        {{guide.title}}
                    </td>
                    <td>
                        {{guide.api_path}}
                    </td>
                    <td>
                        <textarea class="form-control" rows="10" cols="80" disabled>
                                                {{guide.code}}
                                            </textarea>
                    </td>
                    <td>
                        <a href="/auction/guidelineDetail_delete/{{guide.id}}">
                            <button class="btn btn-danger" type="submit">
                                Delete
                            </button>
                        </a> <br>
                        <a href='/auction/guideline_edit_form/{{guide.id}}'>
                            <button class="btn btn-success" type="submit">
                                Edit
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </center>
    </div>
{% endblock%}