<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'loginnew' %}">  
        {% csrf_token %}
        {{form}}
        <!-- {{form.errors.as_text}} -->
        
        <button type="submit">Login</button>
    </form>
    <!-- {% for error in form.non_field_errors %}
    {{error}}
{% endfor %} -->
{% if form.errors %}
        dasdadads
{% endif %}

{% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>