<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <form method="POST" action="{% url 'loginnew' %}">{%csrf_token%}
        <table>
            <tr>
                <td>username</td>
                <td>
                    <input type="text" name="username">
                </td>
            </tr>
            <tr>
                <td>password</td>
                <td>
                    <input type="password" name="password">
                </td>
            </tr>
        </table>
        {% if error %}
        {{error}}
        {% endif %}
        <button type="submit">Login</button>

    </form>
</body>

</html>