<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href=" {%static 'auction/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'auction/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'auction/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'auction/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'auction/highlight/highlight.pack.js' %}"></script>
    <link rel="stylesheet" href="{% static 'auction/highlight/styles/dracula.css' %}">
    <script>hljs.initHighlightingOnLoad();</script>

</head>

<body style="background-color:darkgrey">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        
                                <h2 class="panel-title">Login</h2>
                        
                        
                    </div>
                    <div class="panel-body">
                            <form method="POST" action="{% url 'loginnew' %}">{%csrf_token%}
                            <fieldset>
                                <div class="form-group">
                                        <input class="form-control" type="text" name='username' placeholder="Username" autofocus>
                                </div>
                                <div class="form-group">
                                        <input class="form-control" type="password" name='password' placeholder="Password" autofocus>
                                </div>
                                
                                <button  type="submit" class="btn btn-lg btn-success btn-block">
                                    Login
                                </button><br>
                                {% if error %}
                                    {{error}}
                                {% endif %}
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'auction/vendor/jquery/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'auction/dd.js' %}"></script> -->
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'auction/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'auction/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'auction/dist/js/sb-admin-2.js' %}"></script>

</body>

</html>