{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <form method="POST" id='allInOneForm'>{% csrf_token %}


            <Table class="table" cellpadding='10' width='800'>
                <tr>
                    <td>
                        Title:
                    </td>

                    <td>
                        <input id='title' class="form-control" name="guide.title" style="width:500px" type="text">
                        <!-- {{form.title.errors.as_text|cut:"*"}} -->
                    </td>
                </tr>
                <!-- title -->
                <tr>
                    <td>
                        Api Path:
                    </td>
                    <td>
                        <input id='api_path' class="form-control" name="guide.api_path" style="width:500px" type="text">
                    </td>
                </tr>
                <!-- api_path -->
                <tr>
                    <td>
                        Code:
                    </td>

                    <td>
                        <textarea id='code' class="form-control" name='guide.code' rows="10" cols="80"></textarea>
                    </td>

                </tr>
                <!-- Code -->
                <tr>
                    <td>
                        Category:
                    </td>
                    <td>
                        <select id='category_id' class="form-control" name='guide.category_id' style="width:300px">
                            {% for category in category %}
                            <option value="{{category.id}}">
                                {{category.name}}
                            </option>
                            {% endfor %}
                        </select>
                        <!-- {{form.category_id.errors.as_text|cut:"*"}} -->
                    </td>
                </tr>
                <!-- category -->
            </Table>
            <table id='argument_table' class="table">
                <tr>
                    <span style="float:left; cursor: pointer;" onclick="addargument()">+</span> <br>
                    <span style="float:left; cursor: pointer;" onclick="removeargument()">-</span>
                </tr><br>
                <tr id='tr0'>
                    <td>
                        Key:
                    </td>

                    <td>
                        <input id='key0' class="form-control" style="width:300px" name="argument.key" type="text">
                        <!-- {{form.key.errors.as_text|cut:"*" }} -->
                    </td>
                    <td>
                        Value:
                    </td>
                    <td>
                        <input id='value0' class="form-control" style="width:300px" name="argument.value" type="text">
                        <!-- {{form.value.errors.as_text|cut:"*"}} -->
                    </td>
                </tr>
                <!-- key -->
                <br>

                <tr>
                    
                </tr>
            </table>
            <button type="submit">
                Create
            </button>
        </form>
    </div>

    <!-- jQuery -->
    <script src="{% static 'auction/vendor/jquery/jquery.min.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- testman - test ajax -->
    <!-- jQuery -->
    <script src="{% static 'auction/js/testman_testajax.js' %}"></script>
</body>

</html>