{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


</head>

<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <input id='sth_id'>
        </form>

    </div>


    <!-- jQuery -->
    <script src="{% static 'auction/vendor/jquery/jquery.min.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- testman - test ajax -->
    <!-- jQuery -->
    <script src="{% static 'auction/js/testman_testajax.js' %}"></script>
    
</body>

</html>